<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row m-0 mt-3">
    <div class="col-lg-4 mx-auto">

        <div class="card border-primary mb-3" style="max-width: 25rem;">
            <div class="card-header text-center">{{ operacion }} Producto</div>
            <div class="card-body">
                <form [formGroup]="formProduct" (ngSubmit)="addProduct()" class="text-danger">
                    <input formControlName="name" type="text" class="form-control mt-3" placeholder="Ingrese el nombre">
                    <span *ngIf="formProduct.get('name')?.hasError('required') && formProduct.get('name')?.touched">
                        El campo nombre es <strong>requerido</strong>
                    </span>
                    <input formControlName="price" type="number" class="form-control mt-3" placeholder="Ingrese el precio">
                    <span *ngIf="formProduct.get('price')?.hasError('required') && formProduct.get('price')?.touched">
                        El campo precio es <strong>requerido</strong>
                    </span>
                    <input formControlName="stock" type="number" class="form-control mt-3" placeholder="Ingrese el stock">
                    <span *ngIf="formProduct.get('stock')?.hasError('required') && formProduct.get('stock')?.touched">
                        El campo stock es <strong>requerido</strong>
                    </span>
                    <textarea formControlName="description" type="text" class="form-control mt-3" placeholder="Ingrese la descripcion" rows="3"></textarea>
                    <span *ngIf="formProduct.get('description')?.hasError('required') && formProduct.get('description')?.touched">
                        El campo descripcion es <strong>requerido</strong>
                    </span>
                    <div class="d-flex justify-content-around mt-3">
                        <button  [disabled]="formProduct.invalid" type="submit" class="btn btn-primary btn-lg">Aceptar</button>
                        <button routerLink="/" type="button" class="btn btn-secondary btn-lg">Volver</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>